html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M334.67563237557994 261.1616578595763L394.7314019150787 361.1112429009353 494.6809869564377 301.05547336143644 434.6252174169389 201.1058883200775z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1057.379%2c199.661C1074.613%2c198.779%2c1088.808%2c188.016%2c1097.878%2c173.334C1107.538%2c157.696%2c1114.64%2c138.112%2c1105.11%2c122.395C1095.794%2c107.03%2c1075.314%2c105.444%2c1057.379%2c106.542C1041.691%2c107.502%2c1027.618%2c114.669%2c1018.797%2c127.677C1008.54%2c142.802%2c1000.369%2c161.776%2c1009.002%2c177.883C1017.956%2c194.589%2c1038.45%2c200.63%2c1057.379%2c199.661' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1360.0948453539875 139.19263734658483L1245.274786469771 202.83843527444589 1308.9205843976322 317.6584941586622 1423.7406432818484 254.01269623080117z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M896.066%2c407.375C931.764%2c409.765%2c969.349%2c398.648%2c988.264%2c368.279C1008.115%2c336.407%2c1006.724%2c294.424%2c985.858%2c263.207C966.874%2c234.806%2c930.225%2c229.99%2c896.066%2c230.344C862.731%2c230.69%2c826.077%2c236.146%2c809.444%2c265.037C792.835%2c293.887%2c805.72%2c328.781%2c823.026%2c357.218C839.482%2c384.259%2c864.482%2c405.261%2c896.066%2c407.375' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M957.0674246223956 54.52975308855712L927.3834627256036-74.60697631530877 841.3051910618536 2.898247616899887z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M680.0391698428458 263.1622930249597L625.34114988859 127.77994292827913 489.9587997919095 182.47796288253488 544.6568197461652 317.86031297921545z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1187.9983713684092 316.0504098322791L1041.632462599101 358.02015880427285 1083.6022115710948 504.3860675735809 1229.968120340403 462.41631860158714z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M88.04339081299335 436.62883485907355L103.7021113894116 347.8238175355591 14.89709406589715 332.16509695914084-0.7616265105210971 420.9701142826553z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M753.76%2c423.85C795.942%2c423.666%2c839.266%2c411.659%2c861.659%2c375.912C885.32%2c338.141%2c884.505%2c289.593%2c861.94%2c251.158C839.648%2c213.189%2c797.68%2c189.029%2c753.76%2c192.129C714.019%2c194.934%2c689.466%2c230.497%2c669.146%2c264.765C648.222%2c300.053%2c624.956%2c340.638%2c644.221%2c376.858C664.217%2c414.454%2c711.177%2c424.035%2c753.76%2c423.85' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M711.8086613116285 598.7803006857881L856.0572555169136 586.2986966881797 785.2818152995163 481.3697914925597z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M653.8872656531361 248.45688118588416L646.5059117835209 332.82614198077556 730.8751725784123 340.2074958503907 738.2565264480274 255.83823505549935z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1450.1771695988796 167.1099625906768L1467.4283058508875 58.19057494969614 1358.5089182099068 40.93943869768822 1341.257781957899 149.85882633866888z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M294.9520395487802 448.58209806200114L420.74706301915376 499.4065866235811 345.7765281103602 322.78707459162763z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M963.4683702869438 201.34735873902127L1081.7055554635872 182.62042833927 1062.978625063836 64.38324316262651 944.7414398871925 83.11017356237778z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    flex-direction: column;
}
hr{
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.titre{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titre{
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
}
.nav {
    height: 100%;
    width: 6rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #a881af;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #a881af;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #a881af;
  height: 3.5rem;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #a881af;
}

button:active {
  transform: scale(0.9);
}

a {
    text-decoration: none;
    color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: rgb(48,52,67);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}